hr {
    height: 2px;
    background: #e0e1e2;
}

/*jumbotron ----------------------------------------------------------------- */
.jumbotron {
    background-image: url('/assets/site/images/banner-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #e9e9ea;
    padding: 0;
}
.jumbotron h1 {
    font-weight: normal;
}

.jumbotron .content {
    margin-bottom: 0;
}
.jumbotron .container {
    padding: 0;
}
nav.navbar {
    margin-bottom: 15px;
}
